@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: "Freight Display Pro";
  src: url("/fonts/freight-display-pro-black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Basis Grotesque";
  src: url("/fonts/basis-grotesque-regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Basis Grotesque";
  src: url("/fonts/basis-grotesque-italic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Basis Grotesque";
  src: url("/fonts/basis-grotesque-medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Basis Grotesque";
  src: url("/fonts/basis-grotesque-medium-italic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Basis Grotesque";
  src: url("/fonts/basis-grotesque-bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Basis Grotesque";
  src: url("/fonts/basis-grotesque-bold-italic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Basis Grotesque";
  src: url("/fonts/basis-grotesque-black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Basis Grotesque";
  src: url("/fonts/basis-grotesque-black-italic.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@theme {
  --font-sans:
    "Basis Grotesque", "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-display: "Freight Display Pro", serif;
}

:root {
  --background: rgb(255, 255, 255);
  --foreground: rgb(18, 18, 20);
  --card: rgb(255, 255, 255);
  --card-foreground: rgb(18, 18, 20);
  --popover: rgb(255, 255, 255);
  --popover-foreground: rgb(18, 18, 20);
  --primary: rgb(89, 60, 251); /* Turo purple: #593CFB */
  --primary-foreground: rgb(255, 255, 255);
  --secondary: rgb(244, 244, 244);
  --secondary-foreground: rgb(18, 18, 20);
  --muted: rgb(244, 244, 244);
  --muted-foreground: rgb(118, 118, 119);
  --accent: rgb(244, 244, 244);
  --accent-foreground: rgb(18, 18, 20);
  --destructive: rgb(223, 25, 32);
  --destructive-foreground: rgb(223, 25, 32);
  --border: rgb(231, 231, 232);
  --input: rgb(231, 231, 232);
  --ring: rgb(89, 60, 251);
  --chart-1: rgb(89, 60, 251);
  --chart-2: rgb(14, 83, 196);
  --chart-3: rgb(14, 134, 92);
  --chart-4: rgb(221, 33, 209);
  --chart-5: rgb(223, 25, 32);
  --radius: 12px;
  --sidebar: rgb(255, 255, 255);
  --sidebar-foreground: rgb(18, 18, 20);
  --sidebar-primary: rgb(89, 60, 251);
  --sidebar-primary-foreground: rgb(255, 255, 255);
  --sidebar-accent: rgb(244, 244, 244);
  --sidebar-accent-foreground: rgb(18, 18, 20);
  --sidebar-border: rgb(231, 231, 232);
  --sidebar-ring: rgb(89, 60, 251);
  --warning: rgb(135, 72, 0);
  --surface-success: "#DCF7EA";
  --surface-error: "#FFE7E3";
  --surface-warning: "#FFF4E1";
  --text-info: rgb(14, 83, 196);
  --text-success: rgb(1, 118, 77);
  --text-error: rgb(181, 10, 13);
  --text-warning: rgb(135, 72, 0);
  --icon-success: rgb(14, 134, 92);
  --icon-error: rgb(181, 10, 13);
  --icon-warning: rgb(237, 145, 15);
  --icon-info: "#1B69DA";
  --interactive-destructive-hover: rgb(181, 10, 13);
  --interactive-destructive-pressed: rgb(135, 0, 0);
  --text-contrast: rgb(255, 255, 255);
  --interactive-secondary: rgb(65, 65, 67);
  --interactive-secondary-hover: rgb(137, 137, 137);
  --interactive-secondary-pressed: rgb(42, 42, 42);
}

.dark {
  --background: rgb(7, 7, 8);
  --foreground: rgb(237, 237, 237);
  --card: rgb(42, 42, 44);
  --card-foreground: rgb(237, 237, 237);
  --popover: rgb(18, 18, 20);
  --popover-foreground: rgb(237, 237, 237);
  --primary: rgb(103, 92, 255);
  --primary-foreground: rgb(7, 7, 8);
  --secondary: rgb(42, 42, 44);
  --secondary-foreground: rgb(237, 237, 237);
  --muted: rgb(42, 42, 44);
  --muted-foreground: rgb(137, 137, 137);
  --accent: rgb(42, 42, 44);
  --accent-foreground: rgb(237, 237, 237);
  --destructive: rgb(223, 25, 32);
  --destructive-foreground: rgb(255, 73, 63);
  --border: rgb(65, 65, 67);
  --input: rgb(65, 65, 67);
  --ring: rgb(122, 118, 255);
  --chart-1: rgb(103, 92, 255);
  --chart-2: rgb(78, 158, 242);
  --chart-3: rgb(8, 186, 122);
  --chart-4: rgb(247, 76, 252);
  --chart-5: rgb(255, 73, 63);
  --sidebar: rgb(30, 30, 31);
  --sidebar-foreground: rgb(237, 237, 237);
  --sidebar-primary: rgb(122, 118, 255);
  --sidebar-primary-foreground: rgb(237, 237, 237);
  --sidebar-accent: rgb(42, 42, 44);
  --sidebar-accent-foreground: rgb(237, 237, 237);
  --sidebar-border: rgb(65, 65, 67);
  --sidebar-ring: rgb(122, 118, 255);
  --warning: rgb(237, 145, 15);
  --surface-success: rgb(1, 44, 33);
  --surface-error: rgb(56, 11, 1);
  --surface-warning: rgb(51, 30, 14);
  --text-success: rgb(8, 186, 122);
  --text-error: rgb(255, 73, 63);
  --text-warning: rgb(237, 145, 15);
  --text-info: rgb(78, 158, 242);
  --icon-success: rgb(8, 186, 122);
  --icon-error: rgb(223, 25, 32);
  --icon-warning: rgb(237, 145, 15);
  --icon-info: "#4E9EF2";
  --interactive-destructive-hover: rgb(181, 10, 13);
  --interactive-destructive-pressed: rgb(135, 0, 0);
  --text-contrast: rgb(237, 237, 237);
  --interactive-secondary: rgb(237, 237, 237);
  --interactive-secondary-hover: rgb(137, 137, 137);
  --interactive-secondary-pressed: rgb(160, 160, 160);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: 8px;
  --radius-md: 12px;
  --radius-lg: 16px;
  --radius-xl: 24px;
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  --color-warning: var(--warning);
  --color-surface-success: var(--surface-success);
  --color-surface-error: var(--surface-error);
  --color-surface-warning: var(--surface-warning);
  --color-text-success: var(--text-success);
  --color-text-error: var(--text-error);
  --color-text-warning: var(--text-warning);
  --color-icon-success: var(--icon-success);
  --color-icon-error: var(--icon-error);
  --color-icon-warning: var(--icon-warning);
  --color-icon-info: var(--icon-info);
  --color-text-info: var(--text-info);
  --color-text-contrast: var(--text-contrast);
  --color-interactive-destructive-hover: var(--interactive-destructive-hover);
  --color-interactive-destructive-pressed: var(
    --interactive-destructive-pressed
  );
  --color-interactive-secondary: var(--interactive-secondary);
  --color-interactive-secondary-hover: var(--interactive-secondary-hover);
  --color-interactive-secondary-pressed: var(--interactive-secondary-pressed);

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
